<form class="former">
<fieldset>
    <legend>Destination Information</legend>
<div class="row">
	<div class="large-12 columns text-center">
	</div>
</div>
  <div class="row">
    <div class="large-12 columns">
      <label for="right-label" class="left inline">123 Avenue Road #1223 Abuja, Kano State</label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label for="right-label" class="left inline">Step by Step Direction</label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label for="right-label" class="left inline">turn right on 1 Street</label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label for="right-label" class="left inline">turn left on 2 Street</label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label for="right-label" class="left inline">turn left on 3 Street</label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label for="right-label" class="left inline">turn right on 4 Street</label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label for="right-label" class="left inline">your destination on your right</label>
    </div>
  </div>
  </fieldset>
</form>